body {
    font-family: "Rubik", sans-serif;
}

.custom-btn {
    width: 100%;
}

.custom-banner {
    text-align: center;
    background-color: #00b4d8;
    color: white;
}

.current-weather {
    border: 1px solid #777;
    padding: 4px;
}

.hidden {
    display: none;
}

p {
    font-size: 14px;
}
